@media screen and (max-width: 1200px){
    .right form{
        margin-left: 150px;
    }
}
@media screen and (max-width: 1100px){
    .container{
        flex-direction: column;
        justify-content: center;
        /* border: 2px solid yellow; */
    }
    .left,.right{
        width: 100%;
        overflow: hidden;
    }
    .left{
        height: 30%;
        flex-flow: column-reverse;
    }
    .card_front{
        align-self: center;
        margin-top:-50px;
        margin-right:-2px;
        
    }
    .card_back{
       align-self: center;
       margin-top: 30px;
       
    }
}
@media screen and (max-width: 800px){
    .right form{
        width:90%;
        margin: 5%;
    }
}
@media screen and (max-width: 600px){
    button{
        padding: 4px 20px;
    }
}