@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* font-family: 'Monaco', Monospace; */
    font-family: "Poppins", sans-serif;
    height: 100vh;
}
.container{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}
.left{
    background-image: url(../images/bg-main-desktop.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 35%;
   /* border: 2px solid yellow; */
   display: flex;
   flex-direction: column;
   justify-content: center;
  
}
.card_front{
    width: 350px;
    height: 170px;
    color: #fff;
    background-image: url(../images/bg-card-front.png);
    border-radius: 5px;
    /* transform: translate(170px,50px); */
    /* border: 2px solid red; */
    align-self: flex-end;
    margin-right: -100px;
}
.card_back{
    width: 350px;
    height: 160px;
    color: #fff;
    background-image: url(../images/bg-card-back.png);
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    /* border: 2px solid orange; */
    align-self: flex-end;
    margin-top: 20px;
    margin-right: -60px;
    /* transform: translate(200px,100px); */
}
.container .left .card_front #card_number{
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
}
.container .left .card_front .card_details{
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
   
}
.container .left .card_front .holder_name{
    /* border: 2px solid red; */
    overflow: hidden;
}
/* CARD BACK DESIGN */

.card_back .cvv_cover{
    transform: translate(260px,75px);
    
}

/* RIGHT FORM DESIGN */
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blue; */
    width: 60%;
}
.right form{
    /* border: 2px solid red; */
    width: 70%;
}
.right form .input{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}
.right form .input label, .right form .date-cvv label{
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 5px;
}
.right form .input input, .right form .date-cvv input{
    height: 40px;
    font-size: 16px;
    padding: 3px;
    border: 1px solid grey;
    border-radius: 4px;
    outline: none;
}

.date-cvv{
    display: flex;
    /* border: 2px solid blue; */
    padding: 10px;
}
.cvv{
    /* border: 2px solid orange; */
    width: 50%;
}
.cvv .cvv_input input{
    width: 80%;
    margin: 8px;
}
.date-cvv .dates .dates_inputs select{
    width: 50%;
    height: 40px;
    font-size: 16px;
    margin: 5px;
    appearance: none;
    padding: 3px 5px;
    border-radius: 4px;
    direction: default;
}
.dates{
    display: flex;
    flex-direction: column;
    /* border: 2px solid yellow; */
    width: 50%;
    
}
.dates_inputs{
    display: flex;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.right form .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    flex-direction: column;
    
}
.right form .button button{
    padding: 10px 50px;
    background-color: #2A0861;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 300px;
    margin: 10px;
}
.right form .button button[disabled]{
    background-color: darkgrey;
    color: #fff;
    cursor: not-allowed;
}
.errorMessage{
    display: none;
    color: red;
    font-size: 11px;
}